<div class="row">
  <div class="large-12 columns">
    <header class="clearfix">
      <h3 class="left " style="margin:6px 20px 0 0">Aanmaken</h3>
      <dl class="tabs tiny" data-tab>
        <dd class="active" style="margin:0 1px"><a href="#" class="tiny">ACTOR</a></dd>
        <dd style="margin:0 1px"><a href="#" data-dojo-attach-event="onClick: _showActorCreateVKBO" class="tiny">VKBO</a></dd>
        <dd><a href="#" data-dojo-attach-event="onClick: _showActorCreateVKBP" class="tiny">VKBO</a></dd>
      </dl>
    </header>
  </div>
  <div class="large-12 columns">
    <small class="right">&lsaquo; <a href="#" data-dojo-attach-event="onClick: _openSearch">Terug naar zoeken</a> </small>
  </div>
  <div class="large-12 columns">
    <div class="tabs-content">
      <div class="row">
        <div class="content active">
          <form style="padding-top:10px">

            <div class="large-4 columns">
              <label>Naam:<input data-dojo-attach-point='naam' type="text"/></label>
              <label>Voornaam:<input data-dojo-attach-point='voornaam' type="text"/></label>
              <label>Email:<input data-dojo-attach-point='email' type="text"/></label>
              <div class="inline-inputs clearfix">
                <label class="input-label-left" style="width:30%;">Telefoon:
                  <input data-dojo-attach-point='telefoonLandcode' type="text" />
                </label>
                <label class="input-label-right"  style="width:69%;">&nbsp;
                  <input class="input-block" data-dojo-attach-point='telefoon' type="text" />
                </label>
                </div>
              </div>

              <div class="large-4 columns">
                <label>Straat:<input data-dojo-attach-point='straat' type="text"/></label>
                <div class="inline-inputs clearfix">
                  <label class="input-label-left" style="width:45%;">Nummer:<input class="input-block" data-dojo-attach-point='nummer' type="text"/></label>
                  <label class="input-label-right" style="width:45%;">Postbus:<input class="input-block" data-dojo-attach-point='postbus' type="text"/></label>
                </div>
                <div class="inline-inputs clearfix">
                  <label class="input-label-left" style="width:30%;">Postcode:<input class="input-block" data-dojo-attach-point='postcode' type="text"/></label>
                  <label class="input-label-right" style="width:60%;">Gemeente:<input class="input-block" data-dojo-attach-point='gemeente' type="text"/></label>
                </div>

                <label>Land:<input data-dojo-attach-point='land' type="text"/></label>

              </div>

              <div class="large-4 columns">
                <label>Actortype:<input data-dojo-attach-point='actortype' type="text"/></label>
                <label>Rijksregisternummer: <input data-dojo-attach-point='rijksregisternummer' type="text"  /></label>
              </div>
          </form>
        </div>
      </div>
      <div class="row text-center">
        <a href="#" class="button small">AANMAKEN</a>
      </div>
    </div>
  </div>

</div>
