<div class="row">
  <div class="large-12 columns">
    <small class="right">&lsaquo; <a href="#" data-dojo-attach-event="onClick: _openSearch">Terug naar zoeken</a> </small>
  </div>
  <div class="large-12 columns">
    <div class="tabs-content">
      <div class="row">
        <div class="content active">

          <form style="padding-top:10px">

            <div class="large-4 columns">
              <div class="placeholder-container placeholder-disabled" tabindex="-1">
                <label for="naam-${id}">Naam</label>
                <input data-dojo-attach-point='naam' type="text" id="naam-${id}" disabled/>
              </div>
              <div class="placeholder-container placeholder-disabled" tabindex="-1">
                <label for="voornaam-${id}">Voornaam</label>
                <input data-dojo-attach-point='voornaam' type="text" id="voornaam-${id}" disabled/>
              </div>
              <div class="placeholder-container placeholder-disabled" tabindex="-1">
                <label for="email-${id}">Email</label>
                <input data-dojo-attach-point='email' type="text" id="email-${id}" disabled/>
              </div>
              <div class="placeholder-container placeholder-disabled" tabindex="-1">
                <label for="telefoonLandcode-${id}">Telefoon</label>
                <input style="width: 30%; float: left;" data-dojo-attach-point='telefoonLandcode' id="telefoonLandcode-${id}" type="text" disabled />
                <input style="width: 70%" data-dojo-attach-point='telefoon' id="telefoon-${id}" type="text" disabled />
              </div>
            </div>

            <div class="large-4 columns">
              <div class="placeholder-container placeholder-disabled" tabindex="-1">
                <label for="land-${id}">Land</label>
                <input data-dojo-attach-point='land' id="land-${id}" type="text" disabled/>
              </div>
              <div class="placeholder-container placeholder-disabled" tabindex="-1" style="width:60%;">
                <label for="gemeente-${id}">Gemeente</label>
                <input data-dojo-attach-point='gemeente' id="gemeente-${id}" type="text" disabled/>
              </div>
              <div class="placeholder-container placeholder-disabled" tabindex="-1" style="width:36%; float:right;">
                <label for="postcode-${id}">Postcode</label>
                <input id="postcode-${id}" data-dojo-attach-point='postcode' type="text" disabled/>
              </div>
              <div class="placeholder-container placeholder-disabled" tabindex="-1">
                <label for="straat-${id}">Straat</label>
                <input data-dojo-attach-point='straat' type="text" id="straat-${id}" disabled/>
              </div>
              <div class="placeholder-container placeholder-disabled" tabindex="-1" style="width:48%;">
                <label for="nummer-${id}">Nummer</label>
                <input class="input-block" data-dojo-attach-point='nummer' id="nummer-${id}" type="text" disabled/>
              </div>
              <div class="placeholder-container placeholder-disabled" tabindex="-1" style="width:48%; float:right;">
                <label for="subadres-${id}">Postbus</label>
                <input data-dojo-attach-point='subadres' id="subadres-${id}" type="text" disabled/>
              </div>
            </div>
            <div class="large-4 columns">
              <div class="placeholder-container placeholder-disabled" tabindex="-1">
                <label for="actortype-${id}">Actortype</label>
                <input id="actortype-${id}" data-dojo-attach-point='actortype' type="text" disabled/>
              </div>
              <div class="placeholder-container placeholder-disabled" tabindex="-1">
                <label for="url-${id}">URL</label>
                <input id="url-${id}" data-dojo-attach-point='url' type="text" disabled/>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
