<div>
  <div class="large-12 columns">
    <div class="tabs-content">
      <div class="row">
        <div class="content active">
          <form style="padding-top:10px">

            <div class="large-4 columns">
              <div class="placeholder-container" tabindex="-1">
                <label for="naam-${id}">Naam</label>
                <input data-dojo-attach-point='naam' type="text" id="naam-${id}"/>
              </div>
            </div>
            <div class="large-4 columns">
              <div data-dojo-attach-point="crabWidget"></div>
            </div>
            <div class="large-4 columns">
              <div class="placeholder-container" tabindex="-1">
                <label for="persid-${id}">Persoon ID</label>
                <input data-dojo-attach-point='persid' type="text" id="persid-${id}"/>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row text-center">
        <a href="#" class="button tiny" data-dojo-attach-event="onClick: _findVKBO">ZOEKEN</a>
      </div>
    </div>
  </div>
</div>