<div>
  <div class="row viewHeader" style="margin-bottom: 10px;">
    <p>Er werden gelijkaardige gebruikers gevonden. Selecteer een van de onderstaande als u deze bedoelde.</p>
  </div>
  <div class="row viewBody">
    <div data-dojo-attach-point="gridNode"></div>
  </div>
  <div class="row viewFooter">
    <div class="large-12 columns text-center" data-dojo-attach-point="footerButtons">
      <a class="button tiny" data-dojo-attach-point="selectActorButton" data-dojo-attach-event="onClick: _useSelectedActor">Gebruik bestaande actor</a>
      <a class="button tiny" data-dojo-attach-event="onClick: _mergeSelectedActor">Pas bestaande actor aan</a>
      <a class="button tiny" data-dojo-attach-event="onClick: _saveActor">Maak nieuwe actor aan</a>
    </div>
  </div>
</div>