.input-label-left {
    display: inline-block;
    margin: 0;
    float: left !important;
}

.input-label-right {
    display: inline-block;
    margin: 0;
    float: right !important;
}

.input-block {

}

.inline-inputs {
    width: 100%;
    display: inline-block;
    margin: 0;
}

.tabs-content {
    border: 1px solid rgba(117, 63, 127, 0.3) !important;
}