/* Restore dgrid css*/
.dgrid .dgrid-row-table {
  margin: 0 !important;
  background: none;
}

.dgrid table th {
  width: auto;
}

.dgrid [class*="column"] + [class*="column"]:last-child {
  float: none;
}

.dgrid-sort-arrow {
  margin: 0;
}

.dgrid {
    height: 345px;
}

.dgrid-column-check, .dgrid-column-id {
    width: 50px !important;
}