.search-actor-widget .dgrid {
  height: 230px;
}

.search-actor-widget .dgrid .dgrid-hider-toggle {
  display: none;
}

.search-actor-widget .dgrid .dgrid-row-table {
  margin: 0 !important;
  background: none;
}

.search-actor-widget .dgrid table th {
  width: auto;
}

.search-actor-widget .dgrid [class*="column"] + [class*="column"]:last-child {
  float: none;
}

.search-actor-widget .dgrid-sort-arrow {
  margin: 0;
}

.search-actor-widget .dgrid-column-check, .dgrid-column-id {
  width: 50px !important;
}

.search-actor-widget .dijitMenu {
  border: 1px solid #cccccc !important;
  color: #616161;
}

.search-actor-widget .dijitMenuItemHover {
  background-color: #CBD6F5 !important;
}

/*country flags*/
.actor-widget.flag {
  background-repeat: no-repeat;
  background-size: 25px auto;
  padding-left: 30px;
}

.actor-widget.flag.be {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0NTAiIGhlaWdodD0iMzkwIj4KPHJlY3Qgd2lkdGg9IjQ1MCIgaGVpZ2h0PSIzOTAiIGZpbGw9IiNFRDI5MzkiLz4KPHJlY3Qgd2lkdGg9IjMwMCIgaGVpZ2h0PSIzOTAiIGZpbGw9IiNGQUUwNDIiLz4KPHJlY3Qgd2lkdGg9IjE1MCIgaGVpZ2h0PSIzOTAiLz4KPC9zdmc+);
}

.actor-widget.flag.de {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIKCSJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMDAiIGhlaWdodD0iNjAwIiB2aWV3Qm94PSIwIDAgNSAzIj4KCTxkZXNjPkZsYWcgb2YgR2VybWFueTwvZGVzYz4KCTxyZWN0IGlkPSJibGFja19zdHJpcGUiIHdpZHRoPSI1IiBoZWlnaHQ9IjMiIHk9IjAiIHg9IjAiIGZpbGw9IiMwMDAiLz4KCTxyZWN0IGlkPSJyZWRfc3RyaXBlIiB3aWR0aD0iNSIgaGVpZ2h0PSIyIiB5PSIxIiB4PSIwIiBmaWxsPSIjRDAwIi8+Cgk8cmVjdCBpZD0iZ29sZF9zdHJpcGUiIHdpZHRoPSI1IiBoZWlnaHQ9IjEiIHk9IjIiIHg9IjAiIGZpbGw9IiNGRkNFMDAiLz4KPC9zdmc+);
}

.actor-widget.flag.fr {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MDAiIGhlaWdodD0iNjAwIj48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0iI0VEMjkzOSIvPjxyZWN0IHdpZHRoPSI2MDAiIGhlaWdodD0iNjAwIiBmaWxsPSIjZmZmIi8+PHJlY3Qgd2lkdGg9IjMwMCIgaGVpZ2h0PSI2MDAiIGZpbGw9IiMwMDIzOTUiLz48L3N2Zz4=);
}
.actor-widget.flag.gb {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MCAzMCIgd2lkdGg9IjEyMDAiIGhlaWdodD0iNjAwIj4KPGNsaXBQYXRoIGlkPSJ0Ij4KCTxwYXRoIGQ9Ik0zMCwxNSBoMzAgdjE1IHogdjE1IGgtMzAgeiBoLTMwIHYtMTUgeiB2LTE1IGgzMCB6Ii8+CjwvY2xpcFBhdGg+CjxwYXRoIGQ9Ik0wLDAgdjMwIGg2MCB2LTMwIHoiIGZpbGw9IiMwMDI0N2QiLz4KPHBhdGggZD0iTTAsMCBMNjAsMzAgTTYwLDAgTDAsMzAiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSI2Ii8+CjxwYXRoIGQ9Ik0wLDAgTDYwLDMwIE02MCwwIEwwLDMwIiBjbGlwLXBhdGg9InVybCgjdCkiIHN0cm9rZT0iI2NmMTQyYiIgc3Ryb2tlLXdpZHRoPSI0Ii8+CjxwYXRoIGQ9Ik0zMCwwIHYzMCBNMCwxNSBoNjAiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIxMCIvPgo8cGF0aCBkPSJNMzAsMCB2MzAgTTAsMTUgaDYwIiBzdHJva2U9IiNjZjE0MmIiIHN0cm9rZS13aWR0aD0iNiIvPgo8L3N2Zz4=);
}
.actor-widget.flag.nl {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MDAiIGhlaWdodD0iNjAwIiB2aWV3Qm94PSIwIDAgOSA2Ij4KPHJlY3QgZmlsbD0iIzIxNDY4QiIJd2lkdGg9IjkiIGhlaWdodD0iNiIvPgo8cmVjdCBmaWxsPSIjRkZGIiB3aWR0aD0iOSIgaGVpZ2h0PSI0Ii8+CjxyZWN0IGZpbGw9IiNBRTFDMjgiCXdpZHRoPSI5IiBoZWlnaHQ9IjIiLz4KPC9zdmc+);
}
.actor-widget.flag.lu {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAwIiBoZWlnaHQ9IjYwMCI+CjxyZWN0IHdpZHRoPSIxMDAwIiBoZWlnaHQ9IjMwMCIgeT0iMzAwIiBmaWxsPSIjMDBBMURFCiIvPgo8cmVjdCB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIzMDAiIGZpbGw9IiNlZDI5MzkiLz4KPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMjAwIiB5PSIyMDAiIGZpbGw9IiNmZmYiLz4KPC9zdmc+);
}

.search-actor-widget .addLinkContainer {
  margin-top: 10px;
  font-size: 14px;
  float: right;
}

.search-actor-widget .refreshLink {
  margin-left: 15px;
}

.search-actor-widget .searchBoxIcon {
  float: right;
  font-size: 22px;
  margin-right: 12px;
  margin-top: -45px;
  position: relative;
  z-index: 2;
  color: #d3d3d3;
}

.search-actor-widget .dijitTabContainerTop-container {
  height: 420px;
}

.actorExistsDialog .dgrid {
  height: 150px;
}

.actorExistsDialog .viewFooter {
  margin-top: 20px;
}

.search-actor-widget {
  height: 400px;
}

.search-actor-widget .dijitStackContainer {
  height: 320px;
}

.search-actor-widget .dijitStackContainer .dijitStackContainerChildWrapper {
  height: 100%;
}

.search-actor-widget .dijitStackContainer .dijitStackContainerChildWrapper .dijitContentPane {
  height: 100%;
}

.view-actor-dialog .placeholder-container .list-selected-items {
  display: table-cell;
  padding-left: 10px;
  font-size: 14px;
}

.manage-actor-dialog .list-selected-items {
  max-height: 80px;
  overflow-y: auto;
}

.bron-link {
  border: 2px solid lightgrey;
  text-align: center;
  padding: 5px 10px;
  transition: background-color 0.2s ease;
  font-weight: bold;
}

.bron-link:hover {
  background-color: #DDDDDD;
}

.bron-link a:focus {
  outline: none;
}

a:focus {
  outline: none;
}

.manage-actor-dialog {
  width: 900px;
}

.manage-actor-dialog .dgrid.actorAdresGrid {
  max-height: 120px;
}

.manage-actor-dialog .dgrid.actorAdresGrid .dgrid-column-huisnummer,
.manage-actor-dialog .dgrid.actorAdresGrid .dgrid-column-subadres,
.manage-actor-dialog .dgrid.actorAdresGrid .dgrid-column-edit_delete {
  width: 58px;
}

.manage-actor-dialog .dgrid.actorAdresGrid .dgrid-column-postcode {
  width: 65px;
}

.manage-actor-dialog .dgrid.actorAdresGrid .dgrid-column-land,
.manage-actor-dialog .dgrid.actorAdresGrid .dgrid-column-adrestype {
  width: 75px;
}

.manage-actor-dialog .viewFooter,
.manage-adres-dialog .viewFooter {
  text-align: center;
  margin-top: 20px;
}

.manage-adres-dialog {
  width: 500px;
}

/* crab adres style */
.placeholder-container.formulierAdres {
  margin: 0;
  border: none;
}

.placeholder-transparent.formulierAdres {
  background: transparent;
}

.placeholder-container .crabLoadIcon {
  position: absolute;
  margin-top: 8px;
}

.placeholder-container.formulierAdres .dijitInputField .dijitPlaceHolder {
  padding: 12px 0 0 0 !important;
  font-style: normal;
  color: silver;
}

.placeholder-container .dijitComboBox.combo-dropdown {
  background: #FFFFFF none;
  height: 2.3125rem;
  width: auto;
}

.placeholder-container .dijitComboBoxFocused.combo-dropdown {
  border-color: #999999;
}

.placeholder-container .dijitComboBox.combo-dropdown .dijitInputContainer {
  height: 100%;
}

.placeholder-container .dijitComboBox.combo-dropdown .dijitArrowButtonContainer {
  border: none !important;
  height: 100%;
  padding: 0!important;
}

.placeholder-container .dijitComboBox .dijitArrowButtonContainer {
  width: 27px;
  border: none !important;
}

.placeholder-container .dijitComboBox input.dijitInputInner {
  padding-top: 8px;
}

.placeholder-container .dijitArrowButton input.dijitArrowButtonInner {
  box-shadow: none;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  width: 24px;
  padding-top: 12px;
}

.placeholder-container .dijitComboBox.combo-dropdown input.dijitArrowButtonInner {
  border: none;
  padding-right: 0.5rem !important;
  margin: 0 !important;
  width: 1.25rem;
  height: 100% !important;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
}

.placeholder-container .placeholder-long-label {
  width: 50% !important;
}

.placeholder-container input[type="number"] {
  margin: 0;
  display: table-cell;
  float: left;
  border: none !important;
  box-shadow: none;
}

.placeholder-container .radio-list {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding-top: 8px;
}

.info-dialog .dijitTooltipContainer {
  display: block;
  width: 300px;
}

.info-dialog .dijitTooltipContainer p {
  margin-bottom: 0;
}
/* end crab adres style */

.widgetPageOverlay {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1001;
  display: block;
  background: rgba(98, 98, 98, 1);
  text-align: center;
}

.search-actor-widget .dgrid .dgrid-column-edit_view {
  width: 58px;
}

.actor-exists-dialog .dgrid .dgrid-column-edit_view {
  width: 58px;
}
