<div class="row">
  <div class="large-12 columns">
    <header class="clearfix">
      <h3 class="left " style="margin:6px 20px 0 0">Actoren</h3>
      <dl class="tabs tiny" data-tab>
        <dd><a href="#" data-dojo-attach-event="onClick: _openDetail" class="button tiny">PROFIEL</a></dd>
        <dd class="active" style="margin:0 1px"><a href="#" class="button tiny">BEWERKEN</a></dd>
      </dl>
    </header>
  </div>
  <div class="large-12 columns">
    <small class="right">&lsaquo; <a href="#" data-dojo-attach-event="onClick: _openSearch">Terug naar zoeken</a> </small>
  </div>
  <div class="large-12 columns">
    <div class="tabs-content">
      <div class="row">
        <div class="content active">
          <form style="padding-top:10px">
            <input type="submit" data-dojo-attach-point="reportValidity" style="display:none">
            <div class="large-4 columns">
              <div class="placeholder-container placeholder-disabled" tabindex="-1">
                <label for="naam">Naam</label>
                <input data-dojo-attach-point='naam' id="naam" type="text" disabled/>
              </div>
              <div class="placeholder-container placeholder-disabled" tabindex="-1">
                <label for="voornaam">Voornaam</label>
                <input data-dojo-attach-point='voornaam' id="voornaam" type="text" disabled/>
              </div>
              <div class="placeholder-container" tabindex="-1">
                <label for="email">Email</label>
                <input data-dojo-attach-point='email' id="email" type="text" style="width:60%; float:left;" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>
                <select id="emailtype" data-dojo-attach-point='emailtypes' style="width:30%; float:left" class="placeholder-input-border">
                  <option value=1>thuis</option>
                  <option value=2 selected>werk</option>
                </select>
                <a href="#" data-dojo-attach-event="onClick: _addEmail" class="plus-icon-link"><i class="fa fa-plus plus-icon"></i></a>
              </div>
              <ul data-dojo-attach-point="emaillist" class="nodisk list-selected-items">
              </ul>
              <div class="placeholder-container" tabindex="-1">
                <label for="telefoonlandcode">Telefoon</label>
                <input style="width: 20%; float: left;" data-dojo-attach-point='telefoonLandcode' id="telefoonlandcode" />
                <input style="width: 40%; float: left;" data-dojo-attach-point='telefoon' id="telefoon" type="text"/>
                <select id="telefoontype" data-dojo-attach-point='telefoontypes' style="width:30%; float:left;" class="placeholder-input-border">
                  <option value=1>thuis</option>
                  <option value=2 selected>werk</option>
                  <option value=3>mobiel</option>
                  <option value=4>fax thuis</option>
                  <option value=5>fax werk</option>
                </select>
                <a href="#" data-dojo-attach-event="onClick: _addTelefoon" class="plus-icon-link"><i class="fa fa-plus plus-icon"></i></a>
              </div>
              <ul data-dojo-attach-point="telefoonlist" class="nodisk list-selected-items">
              </ul>
            </div>
            <div class="large-4 columns">
              <div data-dojo-attach-point="crabWidget"></div>
            </div>

            <div class="large-4 columns">
              <div class="placeholder-container placeholder-disabled" tabindex="-1">
                <label for="actortype">Actortype</label>
                <input data-dojo-attach-point='actortype' id="actortype" type="text" disabled/>
              </div>
              <div class="placeholder-container" tabindex="-1">
                <label for="url">URL</label>
                <input data-dojo-attach-point='url' style="width:50%; float:left;" type="text" id="url" pattern="^(https?:\/\/).{1,255}"/>
                <select id="urltype" data-dojo-attach-point='urltypes' style="width:40%; float:left;" class="placeholder-input-border">
                  <option value=1 selected>website</option>
                  <option value=2>blog</option>
                  <option value=3>webapplicatie</option>
                </select>
                <a href="#" data-dojo-attach-event="onClick: _addUrl" class="plus-icon-link"><i class="fa fa-plus plus-icon"></i></a>
              </div>
              <ul data-dojo-attach-point="urllist" class="nodisk list-selected-items">
              </ul>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <button href="#" data-dojo-attach-event="onClick: _save" class="button tiny">BEWAAR</button>
    </div>
  </div>
</div>
