<div>
  <div data-dojo-attach-point='landNode' class="placeholder-container formulierAdres ${required} placeholder-transparent" tabindex="-1">
    <label for="land" data-dojo-attach-point="landLabel">Land</label>
    <select data-dojo-attach-point='land' id="land" data-dojo-attach-event="onChange: _changeGemeenten">
    </select>
  </div>

  <div data-dojo-attach-point='gemeenteCrabNode' class="placeholder-container formulierAdres ${required} placeholder-transparent" tabindex="-1">
    <label for="gemeenteCrab-${id}" data-dojo-attach-point="gemeenteLabelCrab">Gemeente <i class="fa fa-info-circle" style="color: grey;"></i></label>
    <input data-dojo-attach-point="gemeenteCrab" placeholder="Gemeente" type="text" id="gemeenteCrab-${id}" />
  </div>

  <div data-dojo-attach-point='gemeenteNode' class="placeholder-container formulierAdres ${required} placeholder-transparent" tabindex="-1">
    <label for="gemeente" data-dojo-attach-point="gemeenteLabel">Gemeente</label>
    <input data-dojo-attach-point='gemeente' type="text" id="gemeente" placeholder="Gemeente" pattern=".{1,50}"/>
  </div>

  <div data-dojo-attach-point='postcodeCrabNode' class="placeholder-container placeholder-disabled formulierAdres ${required}" style="display: none;" tabindex="-1">
    <label data-dojo-attach-point="postcodeLabelCrab">Postcode</label>
    <input data-dojo-attach-point='postcodeCrab' placeholder="Postcode" type="text"  />
    <span class="fa fa-pulse fa-spinner crabLoadIcon" style="display: none;" data-dojo-attach-point="postcodeCrabLoader"></span>
  </div>

  <div data-dojo-attach-point='postcodeNode' class="placeholder-container placeholder-disabled formulierAdres ${required}" tabindex="-1">
    <label for="postcode" data-dojo-attach-point="postcodeLabel">Postcode</label>
    <input id="postcode" data-dojo-attach-point='postcode' placeholder="Postcode" type="text" pattern=".{1,20}" disabled />
  </div>

  <div data-dojo-attach-point='straatCrabNode' class="placeholder-container placeholder-disabled formulierAdres ${required}" style="display: none;" tabindex="-1">
    <label data-dojo-attach-point="straatLabelCrab">Straat</label>
    <input data-dojo-attach-point='straatCrab' placeholder="Straat" type="text" />
    <span class="fa fa-pulse fa-spinner crabLoadIcon" style="display: none;" data-dojo-attach-point="straatCrabLoader"></span>
  </div>

  <div data-dojo-attach-point="straatNode" class="placeholder-container placeholder-disabled formulierAdres ${required}" tabindex="-1">
    <label for="straat" data-dojo-attach-point="straatLabel">Straat</label>
    <input data-dojo-attach-point='straat' type="text" id="straat" placeholder="Straat" pattern=".{1,100}" disabled/>
  </div>

  <div data-dojo-attach-point='huisnummerCrabNode' class="placeholder-container placeholder-disabled formulierAdres ${required}" style="display: none;" tabindex="-1">
    <label data-dojo-attach-point="huisnummerLabelCrab">Huisnr.</label>
    <input data-dojo-attach-point='huisnummerCrab' placeholder="Kies huisnummer" type="text"/>
    <span class="fa fa-pulse fa-spinner crabLoadIcon" style="display: none;" data-dojo-attach-point="huisnummerCrabLoader"></span>
  </div>

  <div data-dojo-attach-point="huisnummerNode" class="placeholder-container placeholder-disabled formulierAdres ${required}" tabindex="-1">
    <label for="huisnummer" data-dojo-attach-point="huisnummerLabel">Huisnr.</label>
    <input id="huisnummer" data-dojo-attach-point='huisnummer' placeholder="Huisnummer" type="text" pattern=".{1,20}" disabled/>
  </div>

  <div data-dojo-attach-point="subadresNode" class="placeholder-container placeholder-disabled formulierAdres" tabindex="-1">
    <label for="subadres">Busnr.</label>
    <input id="subadres" data-dojo-attach-point='subadres' type="text" placeholder="Busnummer" pattern=".{1,20}" disabled/>
  </div>

</div>