<div>
  <div data-dojo-attach-point="loadingOverlay" class="widgetPageOverlay" style="display: none;">
    <div class="loadingMessage">Even geduld. De toepassing wordt geladen...</div>
    <div><i class="fa fa-4x fa-spinner fa-pulse"></i></div>
  </div>
  <div class="row">
    <div class="large-12 columns text-center" data-dojo-attach-point="headerButtons">
      <button type="button" class="button tiny" href="#" data-dojo-attach-event="onClick: _showGridSearch">Overzicht</button>
      <button type="button" class="button tiny" href="#" data-dojo-attach-event="onClick: _showAdvSearch">Uitgebreid zoeken</button>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div data-dojo-attach-point="searchContainer">
      </div>
    </div>
  </div>
</div>