<div data-dojo-type="dijit/layout/ContentPane"  data-dojo-attach-point="actorSearchPane">
  <div class="large-12 columns">
    <header class="clearfix" style="margin-bottom: 5px;">
      <h3 class="left " style="margin:6px 20px 0 0">Zoeken</h3>
      <dl class="tabs tiny" data-tab>
        <dd style="margin:0 1px"><a href="#" data-dojo-attach-event="onClick: _showActorSearch" class="button tiny">ACTOREN</a></dd>
        <dd style="margin:0 1px"><a href="#" data-dojo-attach-event="onClick: _showVKBOSearch" class="button tiny">VKBO</a></dd>
        <dd><a href="#" data-dojo-attach-event="onClick: _showVKBPSearch" class="button tiny">VKBP</a></dd>
      </dl>
    </header>
  </div>
  <div class="large-12 columns">
    <div class="panel fl-block-search">
      <div class="searchBox clearfix">
        <label>
          Zoeken in actoren van het agentschap:
          <input type="text"
                 name="actorenFilter"
                 title="Zoek een actor"
                 class="searchBox"
                 data-dojo-attach-event="onInput: _filterGrid"
                 data-dojo-attach-point="actorenFilter"
                 tabindex="1">
        </label>
      </div>

    </div>
  </div>
  <div class=" small-12 columns">
    <div>
      <small class="right"><a href="#" class="refreshLink" data-dojo-attach-event="onClick: _refresh">refresh  <span class="fa fa-refresh small" title="Vernieuw het grid"></span></a></small>
    </div>
  </div>
  <div class="large-12 columns">
    <div class="gridContainer">
      <div data-dojo-attach-point="gridNode"></div>
    </div>
  </div>
  <div class="small-12 columns actor-search-emit">
    <small class="right"><a href="#" data-dojo-attach-event="onClick: _emitSelectedActoren">Voeg geselecteerde actor toe</a> &rsaquo;</small>
  </div>
</div>