<div data-dojo-type="dijit/layout/ContentPane"  data-dojo-attach-point="actorSearchPane" class="row">
    <div class="large-12 columns">
        <div class="panel">
            <form data-dojo-attach-event="onSubmit: _filterGrid" action="#" >
                <div class="small-10 columns">
                    <input type="text"
                           name="actorenFilter"
                           title="Zoek een actor"
                           class="searchBox"
                           tabindex="1">
                </div>
                <div class="small-2 columns">
                    <button class="button expand" title="Zoek een actor" type="submit" tabindex="2">
                        Zoeken
                    </button>
                </div>
            </form>
            <div>
                <select class="right" data-dojo-attach-event="onChange: _sortGrid">
                    <option value="" disabled selected>sorteer op</option>
                    <option value="naam">Naam</option>
                    <option value="voornaam">Voornaam</option>
                    <option value="adres">Adres</option>
                </select>
            </div>
        </div>
    </div>
    <div class="gridContainer">
        <div data-dojo-attach-point="gridNode"></div>
    </div>
</div>