<div data-dojo-type="dijit/layout/ContentPane"  data-dojo-attach-point="actorSearchPane">
    <div class="large-12 columns">
        <div class="panel fl-block-search">
            <div class="searchBox clearfix">
                <label>
                    <a href="#" >Zoeken in actoren van het agentschap:</a>
                    <input type="text"
                           name="actorenFilter"
                           title="Zoek een actor"
                           class="searchBox"
                           data-dojo-attach-event="onInput: _filterGrid"
                           data-dojo-attach-point="actorenFilter"
                           tabindex="1">
                </label>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <small class="right"><a href="uitgebreid-zoeken">Uitgebreid zoeken</a> &rsaquo;</small>
                </div>
            </div>

        </div>
    </div>
    <div class="large-12 columns">
        <div class="gridContainer">
            <div data-dojo-attach-point="gridNode"></div>
        </div>
    </div>
    <div class="small-12 columns">
        <small class="right"><a href="#" data-dojo-attach-event="onClick: _emitSelectedActoren">Voeg geselecteerde actoren toe</a> &rsaquo;</small>
    </div>
</div>