<div class="row">
    <div class="row">
        <div class="small-12 columns">
            <small class="left">&lsaquo;<a href="#" data-dojo-attach-event="onClick: _openSearch">Terug naar zoeken</a> </small>
        </div>
    </div>
    <div class="tabs-content">

        <div class="content active" id="panel1">

            <form style="padding-top:10px">


                <div class="large-4 columns">
                    <label>Naam:<input data-dojo-attach-point='naam' type="text" disabled/></label>
                    <label>Voornaam:<input data-dojo-attach-point='voornaam' type="text" disabled/></label>
                    <label>Email:<input data-dojo-attach-point='email' type="text" disabled/></label>
                    <label>Telefoon:<input data-dojo-attach-point='telefoon' type="text" disabled/></label>
                </div>

                <div class="large-4 columns">
                    <label>Straat:<input data-dojo-attach-point='straat' type="text" disabled/></label>
                    <label class="left">Nummer:<input data-dojo-attach-point='nummer' type="text" style="width:45%;" disabled/></label>
                    <label class="right">Postbus:<input data-dojo-attach-point='postbus' type="text" style="width:45%;" disabled/></label>
                    <div class="clearfix">
                        <label class="left">Postcode:<input data-dojo-attach-point='postcode' type="text"  style="width:30%;" disabled/></label>
                        <label class="right">Gemeente:<input data-dojo-attach-point='gemeente' type="text"  style="width:45%;" disabled/></label>
                    </div>

                    <label>Land:<input data-dojo-attach-point='land' type="text" disabled/></label>

                </div>

                <div class="large-4 columns">
                    <label>Actortype:<input data-dojo-attach-point='actortype' type="text" disabled/></label>
                    <label>Persoon ID:<input data-dojo-attach-point='pers_id' type="text" disabled/></label>
                    <label>Rijksregisternummer:<input data-dojo-attach-point='rijksregisternummer' type="text" disabled /></label>
                </div>
            </form>

        </div>
    </div>


</div>
