<div>
  <div class="placeholder-container" tabindex="-1" data-dojo-attach-point='landNode'>
    <label for="land">Land</label>
    <select data-dojo-attach-point='land' id="land" data-dojo-attach-event="onChange: _changeGemeenten">
      <option value="BE">België</option>
      <option value="NL">Nederland</option>
    </select>
  </div>
  <div class="placeholder-container" tabindex="-1" data-dojo-attach-point='postcodeCrabNode' style="width:36%;">
    <label>Postcode</label>
    <input data-dojo-attach-point='postcodeCrab' type="text" />
  </div>
  <div class="placeholder-container" tabindex="-1" style="width:36%;" data-dojo-attach-point='postcodeNode'>
    <label for="postcode">Postcode</label>
    <input id="postcode" data-dojo-attach-point='postcode' type="text" />
  </div>
  <div class="placeholder-container" tabindex="-1" data-dojo-attach-point='gemeenteCrabNode' style="width:60%; float:right;">
    <label>Gemeente</label>
    <input data-dojo-attach-point='gemeenteCrab' type="text" />
  </div>
  <div class="placeholder-container" tabindex="-1" style="width:60%; float:right;" data-dojo-attach-point='gemeenteNode'>
    <label for="gemeente">Gemeente</label>
    <input data-dojo-attach-point='gemeente' type="text" id="gemeente"/>
  </div>
  <div class="placeholder-container" tabindex="-1" data-dojo-attach-point='straatCrabNode'>
    <label>Straat</label>
    <input data-dojo-attach-point='straatCrab' type="text" />
  </div>
  <div class="placeholder-container" tabindex="-1" data-dojo-attach-point="straatNode">
    <label for="straat">Straat</label>
    <input data-dojo-attach-point='straat' type="text" id="straat" />
  </div>
  <div class="placeholder-container" data-dojo-attach-point='nummerCrabNode' style="width:45%;">
    <label>Nummer</label>
    <input data-dojo-attach-point='nummerCrab' type="text"/>
  </div>
  <div class="placeholder-container" tabindex="-1" style="width:48%;" data-dojo-attach-point="nummerNode">
    <label for="nummer">Nummer</label>
    <input id="nummer" data-dojo-attach-point='nummer' type="text"/>
  </div>
  <div class="placeholder-container" tabindex="-1" style="width:48%; float:right;" data-dojo-attach-point="postbusNode">
    <label for="postbus">Postbus</label>
    <input id="postbus" data-dojo-attach-point='postbus' type="text"/>
  </div>
</div>