<div class="row">
  <div class="large-12 columns">
    <header class="clearfix">
      <h3 class="left " style="margin:6px 20px 0 0" data-dojo-attach-point="headerText">Actoren</h3>
      <dl class="tabs tiny" data-tab data-dojo-attach-point="headerButtons">
        <dd class="active" style="margin:0 1px"><a href="#" class="button tiny">Zoeken</a></dd>
        <dd style="margin:0 1px"><a href="#" data-dojo-attach-event="onClick: _showActorCreate" class="button tiny">Aanmaken</a></dd>
      </dl>
    </header>
  </div>
  <div class="large-12 columns">
    <small class="right">&lsaquo; <a href="#" data-dojo-attach-event="onClick: _openSearch">Terug naar zoeken</a> </small>
  </div>
  <div class="large-12 columns">
    <div class="tabs-content">
      <div class="row">
        <div class="content active">
          <form style="padding-top:10px">

            <div class="large-4 columns">
              <div class="placeholder-container" tabindex="-1">
                <label for="naam-${id}">Naam</label>
                <input data-dojo-attach-point='naam' id="naam-${id}" type="text"/>
              </div>
              <div class="placeholder-container" tabindex="-1">
                <label for="voornaam-${id}">Voornaam</label>
                <input data-dojo-attach-point='voornaam' id="voornaam-${id}" type="text"/>
              </div>
              <div class="placeholder-container" tabindex="-1">
                <label for="email-${id}">Email</label>
                <input data-dojo-attach-point='email' id="email-${id}" type="text"/>
              </div>
              <div class="placeholder-container" tabindex="-1">
                <label for="telefoon-${id}">Telefoon</label>
                <input data-dojo-attach-point='telefoon' id="telefoon-${id}" type="text" />
              </div>
            </div>

            <div class="large-4 columns">
              <div data-dojo-attach-point="crabWidget"></div>
            </div>

            <div class="large-4 columns">
              <div class="placeholder-container" tabindex="-1">
                <label for="actortype-${id}">Actortype</label>
                <select id="actortype-${id}" data-dojo-attach-point='type'>
                </select>
              </div>
              <div class="placeholder-container" tabindex="-1">
                <label for="persid-${id}">Persoon ID</label>
                <input data-dojo-attach-point='persid' type="text" id="persid-${id}"/>
              </div>
              <div class="placeholder-container" tabindex="-1">
                <label for="rrn-${id}">Rijksregisternummer</label>
                <input data-dojo-attach-point='rrn' type="text" id="rrn-${id}" />
              </div>
              <div class="placeholder-container" tabindex="-1">
                <label for="kbo-${id}" data-tooltip aria-haspopup="true" class="has-tip tip-bottom radius" title="Kruispuntbank voor Ondernemingen">KBO</label>
                <input data-dojo-attach-point='kbo' type="text" id="kbo-${id}" />
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row text-center">
        <a href="#" class="button tiny" data-dojo-attach-event="onClick: _findActoren">ZOEKEN</a>
      </div>
    </div>
  </div>
</div>
