<div>
  <div class="large-12 columns">
      <div class="placeholder-container">
        <label>Zoeken in actoren</label>
        <input type="text"
               name="actorenFilter"
               title="Zoek een actor"
               class="searchBox"
               data-dojo-attach-event="onInput: _filterGrid"
               data-dojo-attach-point="actorenFilter"
               tabindex="1" />
      </div>
  </div>
  <div class="large-12 columns">
    <div class="gridContainer">
      <div data-dojo-attach-point="gridNode"></div>
    </div>
  </div>
  <div class=" small-12 columns">
    <div class="addLinkContainer">
      <a href="#" class="refreshLink" data-dojo-attach-event="onClick: _createNewActor">
        Toevoegen <i class="fa fa-plus-circle" ></i>
      </a>
      <a href="#" class="refreshLink" data-dojo-attach-event="onClick: _refresh">
        Vernieuwen <i class="fa fa-refresh" ></i>
      </a>
    </div>
  </div>
<!--  <div class="small-12 columns actor-search-emit">
    <small class="right"><a href="#" data-dojo-attach-event="onClick: _emitSelectedActoren">Voeg geselecteerde actor toe</a> &rsaquo;</small>
  </div>-->
</div>